*{
	margin: 0px;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

table{
	font-family: Comic Sans MS;
	width: 100%;
	height: 100%;
    border-collapse: collapse; /*to make no space between table cells*/
}

table tr{
	border: 1px solid black;
}

#second_row td{
	border: 1px solid black;
}

td{
    vertical-align: middle;
    height: 25%;
}

a{
    text-decoration: none; 
    color: inherit; 
    transition: 1s;
}
a:visited{
    color: inherit; 
}
a:active{
	color: inherit; 
}
a:hover{
	color:skyblue;
	transition: 1s;
}

p{
	font-size: 20px;
	text-align: justify;
}

.wide_text{
	width: 70%;
	margin-left: 15%;
}

#my_photo{
	width:70%;
	height:auto;
	border-radius: 16px;
	border: 2px solid black;
	margin-left: 15%;
}

.left_photo{
	width:50%;
	height: auto;
	border-radius: 16px;
	border: 2px solid black;
	margin-left: 25%;
}

#link_menu{
	text-align: center;
	height: 50%;
}

#link_list{
	font-size: 30px;
	display: inline-block;
  	text-align: left;
}

#contacts{
	width: 40%;
	margin-left: 60%;
}

@media (min-width: 3800px){
	.wide_text{
		font-size: 40px;
	}
	#contacts{
		font-size: 50px;
	}
	h1{
		font-size: 60px;
	}
	#link_list{
		font-size: 60px;
	}
}

@media (min-width: 2500px) and (max-width: 3799px){
	.wide_text{
		font-size: 25px;
	}
	#contacts{
		font-size: 30px;
	}
	h1{
		font-size: 40px;
	}
	#link_list{
		font-size: 40px;
	}
}

@media (max-width: 1500px){
	.wide_text{
		width: 80%;
		margin-left: 10%;
		font-size: 17px;
	}
}

@media (max-width: 1300px){
	#contacts{
		margin-left: 50%;
	}
}

@media (max-width: 1050px){
	#contacts{
		width: 60%;
		margin-left: 40%;
	}
}

@media (max-width: 850px){
	.wide_text{
		width: 90%;
		margin-left: 5%;
		font-size: 15px;
	}

	#contacts{
		width: 80%;
		margin-left: 20%;
	}		
}